<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="./bootstrap.php"
         backupGlobals="false"
         colors="true"
		 convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
		 convertWarningsToExceptions="true"
         beStrictAboutTestsThatDoNotTestAnything="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd">
    <testsuites>
        <testsuite name="cache-user-query-tests">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
